<!DOCTYPE html>
<html>
    <head>
        <title>Client</title>
        <script src="http://cdn.socket.io/stable/socket.io.js"></script>
        <script src="js/chat.js"></script>
    </head>
    <body>
        <h1>Client Temaplate</h1>
        <div class="controls">
            <input type="text" id="name">
            <input type="text" id="field">
            <input type="button" id="send">

        </div>
    </body>
</html>