<!DOCTYPE html>
<html>
    <head>
        <title>Client</title>
        <script src="js/vendors/socket.io.js"></script>
        <script src="js/chat.js"></script>
        <script>
            window.onload = function() {
              var socket = io.connect('http://localhost:8000');
              socket.on('greeting', function (data) {
                console.log(data);
                socket.emit('my other event', { my: 'data' });
              });
            }
        </script>
    </head>
    <body>
        <h1>Client Temaplate</h1>
        <div class="controls">
            <input type="text" id="name">
            <input type="text" id="field">
            <input type="button" id="send">

        </div>
    </body>
</html>