<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
Kurwa działa

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="/js/application.js"></script>
</body>
</html>