.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background: transparent url(../img/bgr.png) no-repeat top center;
    min-height: 1200px;
}

#card {
    position: absolute;
    left: 212px;
    top: 302px;
    width: 380px;
    height: 380px;
    padding-left: 5px;
}

#card .card-row {
    width: 76px;
    height: 76px;
    float: left;
}

#card .card-row .item {
    width: 50px;
    height: 50px;
    background: #333;
    margin: 6px;
}

#revelation {
    position: absolute;
    text-align: center;
    right: 188px;
    top: 500px;
    width: 300px;
    height: 286px;
}

#revelation #latest {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 94px;
    left: 102px;
}

#revelation #next {
    position: absolute;
    right: 25px;
    top: 232px;
    width: 50px;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    font-size: 28px;
}