.container {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    background: transparent url(../img/bgr.png) no-repeat top center;
    min-height: 1200px;
}

#card {
    position: absolute;
    background: #ddd;
    left: 212px;
    top: 280px;
    width: 380px;
    height: 380px;
    opacity: 0.6;
    padding-left: 5px;
}

#card .card-row {
    width: 76px;
    height: 76px;
    background: #ddd;
    float: left;
}

#card .card-row .item {
    width: 50px;
    height: 50px;
    background: #333;
    margin: 6px;
}

.revelation {
    text-align: center;
}

.revelation img.zen {
    display: inline-block;
    margin: 20px 0;
}